.benefitSection {
    /* background: linear-gradient(180deg, #000000 0%, #000000 100%); */
    /* background: linear-gradient(202.86deg, #000000 6.71%, #43000F 101.59%); */
    min-height: 100vh;
    /* min-width: 200vw; */
    /* overflow: hidden; */
    background-image: url('../../../public/images/catCardTeacherImg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right ;
    background-position-y: top;
}

@media screen and (min-width: 1900px) and (max-width:1949px) {
    .benefitSection {
        /* min-height: 300vh; */
        transform: translateY(-849px) !important;
           }
}
@media screen and (min-width:1949px) and (max-width:2000px) {
    .benefitSection {
        transform: translateY(-550px) !important;
        max-height: 1921px;
        }
}
@media screen and (min-width:2500px) {
    .benefitText {
        padding: 18rem 0 !important;
        }
        .fitnessImg{
            padding-top: 492px;
        }
        .beachImg{
            padding-bottom: 0px;
        }
        .beautyImg{
            padding-bottom: 0px;
            padding-top: 114px;
        }
        .lastRow{
            padding-top: 183px;
            transform: translateX(-35px);
        }



}