.benefitSection {
    /* background: linear-gradient(180deg, #000000 0%, #000000 100%); */
    /* background: linear-gradient(202.86deg, #000000 6.71%, #43000F 101.59%); */
    min-height: 100vh;
    /* min-width: 200vw; */
    /* overflow: hidden; */
    background-image: url('../../../public/images/catCardTeacherImg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right ;
    background-position-y: top;
    /* transform: translateY(-1060px) !important; */
}

@media screen and (min-width: 800px) and (max-width:808px) {
    .benefitSection {
        transform: translateY(-605px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 91vh;
        margin: auto;
        font-size: 86px;
    }
    .imgContainer{
        padding-top: 7rem;
    }

    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 104px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 808px) and (max-width:834px) {
    .benefitSection {
        transform: translateY(-509px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 91vh;
        margin: auto;
        font-size: 86px;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 164px;
    }
    .beachImg {
        padding-bottom: 0px;
        padding-top: 84px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 834px) and (max-width:858px) {
    .benefitSection {
        transform: translateY(-420px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 91vh;
        margin: auto;
        font-size: 86px;
    }
    .imgContainer{
        padding-top: 5rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 104px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 858px) and (max-width:881px) {
    .benefitSection {
        transform: translateY(-360px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 91vh;
        margin: auto;
        font-size: 86px;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 104px;
    }
    .beachImg {
        padding-bottom: 0px;
    }
    .fitnessImg{
        padding-top: 15rem;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 881px) and (max-width:888px) {
    .benefitSection {
        transform: translateY(-260px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
    }

    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 44px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 888px) and (max-width:894px) {
    .benefitSection {
        transform: translateY(-261px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 104px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 894px) and (max-width:905px) {
    .benefitSection {
        transform: translateY(-220px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 124px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 905px) and (max-width:920px) {
    .benefitSection {
        transform: translateY(-198px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 144px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 920px) and (max-width:930px) {
    .benefitSection {
        transform: translateY(-148px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 144px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 930px) and (max-width:936px) {
    .benefitSection {
        transform: translateY(-98px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 7rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 44px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 936px) and (max-width:947px) {
    .benefitSection {
        transform: translateY(-88px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 11rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 164px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 947px) and (max-width:952px) {
    .benefitSection {
        transform: translateY(-35px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 10rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 104px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 952px) and (max-width:959px) {
    .benefitSection {
        transform: translateY(-18px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 9rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 9rem;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 959px) and (max-width:964px) {
    .benefitSection {
        transform: translateY(8px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 8rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 44px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 964px) and (max-width:969px) {
    .benefitSection {
        transform: translateY(18px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 9rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 164px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 969px) and (max-width:976px) {
    .benefitSection {
        transform: translateY(45px) !important;
    }    
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 8rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }

    .beautyImg {
        padding-bottom: 0px;
        padding-top: 144px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 976px) and (max-width:1000px) {
    .benefitSection {
        transform: translateY(65px) !important;
    }    
    .imgContainer{
        padding-top: 9.5rem;
    }
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
    }
    .imgContainer{
        padding-top: 12rem;
    }
    .restaurantsImg {
        padding-bottom: 127px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 65px;
    }
    .languagesImg{
        padding-top: 111px;
    }
    .fitnessImg{
        padding-top: 17rem;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 144px;
    }
    .beachImg {
        padding-bottom: 0px;
    }

    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1000px) and (max-width:1100px) {
    .benefitSection {
        transform: translateY(-918px) !important;
    }    
    .imgContainer{
        /* padding-top: 9.5rem; */
        padding-top: -220rem;
    }
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
        padding-top: 1rem;
    }
    .imgContainer{
        /* padding-top: 12rem; */
    }
    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1100px) and (max-width:1149px) {
    .benefitSection {
        transform: translateY(-885px) !important;
    }    
    .imgContainer{
        padding-top: 11rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
        padding-top: 1rem;
    }
    .imgContainer{
        /* padding-top: 12rem; */
    }
    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1149px) and (max-width:1184px) {
    .benefitSection {
        transform: translateY(-885px) !important;
    }    
    .imgContainer{
        padding-top: 13rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
        padding-top: 1rem;
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1184px) and (max-width:1216px) {
    .benefitSection {
        transform: translateY(-627px) !important;
    }    
    .imgContainer{
        padding-top: 7rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-bottom: 122px;
        max-width: 95vh;
        margin: auto;
        padding-top: 1rem;
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1216px) and (max-width:1255px) {
    .benefitSection {
        transform: translateY(-885px) !important;
    }    
    .imgContainer{
        padding-top: 20rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        max-width: 95vh;
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1255px) and (max-width:1300px) {
    .benefitSection {
        transform: translateY(-726px) !important;
    }    
    .imgContainer{
        padding-top: 13rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        max-width: 95vh;
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 91px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1300px) and (max-width:1316px) {
    .benefitSection {
        transform: translateY(-601px) !important;
    }    
    .imgContainer{
        padding-top: 12rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        max-width: 95vh;
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1316px) and (max-width:1341px) {
    .benefitSection {
        transform: translateY(-792px) !important;
    }    
    .imgContainer{
        padding-top: 26rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        max-width: 95vh;
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1341px) and (max-width:1350px) {
    .benefitSection {
        transform: translateY(-601px) !important;
    }    
    .imgContainer{
        padding-top: 20rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        max-width: 95vh;
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 36px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1350px) and (max-width:1490px) {
    .benefitSection {
        transform: translateY(-484px) !important;
    }    
    .imgContainer{
        padding-top: 11rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 246px;
        padding-bottom: 0px;
        /* max-width: 95vh; */
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 92px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1490px) and (max-width:1510px) {
    .benefitSection {
        transform: translateY(-484px) !important;
    }    
    .imgContainer{
        padding-top: 13rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        /* max-width: 95vh; */
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 92px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1510px) and (max-width:1582px) {
    .benefitSection {
        transform: translateY(-484px) !important;
    }    
    .imgContainer{
        padding-top: 17rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        /* max-width: 95vh; */
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 92px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1582px) and (max-width:1600px) {
    .benefitSection {
        transform: translateY(-484px) !important;
    }    
    .imgContainer{
        padding-top: 22rem;
        /* padding-top: -220rem; */
    }
    .benefitText {
        padding-top: 176px;
        padding-bottom: 0px;
        /* max-width: 95vh; */
        margin: auto;
        /* padding-top: 1rem; */
    }

    .restaurantsImg {
        padding-bottom: 61px;
        padding-top: 0px;
    }
    .bookshopImg {
        padding-top: 40px;
    }
    .languagesImg{
        padding-top: 85px;
    }
    .fitnessImg{
        padding-top: 92px;
    }
    .beautyImg {
        padding-bottom: 0px;
        padding-top: 50px;
    }
    .beachImg {
        padding-bottom: 0px;
    }


    .entertainmentImg {
        padding-top: 281px;
    }
}
@media screen and (min-width: 1900px) and (max-width:1949px) {
    .benefitSection {
        /* min-height: 300vh; */
        transform: translateY(-849px) !important;
           }
}
@media screen and (min-width:1949px) and (max-width:2000px) {
    .benefitSection {
        transform: translateY(-550px) !important;
        max-height: 1921px;
        }
}
@media screen and (min-width:2500px) {
    .benefitText {
        padding: 18rem 0 !important;
        }
        .fitnessImg{
            padding-top: 492px;
        }
        .beachImg{
            padding-bottom: 0px;
        }
        .beautyImg{
            padding-bottom: 0px;
            padding-top: 114px;
        }
        .lastRow{
            padding-top: 183px;
            transform: translateX(-35px);
        }



}