.backgroundGradient {
    /* background: linear-gradient(180deg, #000000 0%, #000000 100%); */
    /* background: linear-gradient(202.86deg, #000000 6.71%, #43000F 101.59%); */
    min-height: 100vh;
    min-width: 90vw;
    overflow: hidden;
    background-image: url('../../../public/images/bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center top ;
    backface-visibility: hidden;
    position: relative;
    background-position-y: 70vh;
}

.backgroundGradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../../public/images/bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 70vh; /* same vertical offset */
    opacity: 0.2; /* Adjust opacity here */
    pointer-events: none;
    z-index: 0;
}

.headerText {
    /* color: red; */
    font-size: 19.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}

.callButton {
    /* background-color: rgba(198, 100, 121, 1); */
    background: rgba(177, 2, 41, 0.5);
    font-size: 1.2rem;
    color: white;
    padding: 10px 15px;
    /* border-radius: 5px; */
    cursor: pointer;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}

.callButton i {
    color: rgba(198, 100, 121, 1);
    padding-right: 10px;
}

.gallery {
    max-width: 90vw;
    position: relative;
    /* width: 70%; */
    height: 100vh;
}

.image {
    /* position: absolute; */
    /* width: 200px; */
    height: auto;
    /* border-radius: 8px; */
}

.img1 { top: 16%; left: 20%;  z-index: 21;}
.img2 { top: 90%; left: 20%; z-index: 2;}
.img3 { bottom: -33%; right: 27%; }
.img4 { bottom: 5%; right: 35%; z-index: 1;}
.img5 { bottom: 0.5%; left: 5%; }


.title {
    font-size: 25vw;
    font-weight: bold;
    /* position: absolute; */
    top: 55%;
    left: 53%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 20;
}


/* #line {
    animation: draw 4s linear forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  } */
.svgTop{
    top: -1600px;
}




@media screen and (min-width:1400px) and (max-width:1520px) {
    .svgTop{
        top: -1427px;
    }
}
@media screen and (min-width:1900px) and (max-width:2000px) {

    .svgTop{
        top: -2193px;
    }
    .svgTopScroll{
        top: 1235px;
    }
}
@media screen and (min-width:2001px)  {

    .svgTopXL{
        top: -3600px;
    }
    .svgTopScrollXL{
        top: 967px;
    }
}