@media screen and (min-width:1600px) and (max-width:2000px) {
    .pushUpImg {
        transform: scale(0.4) translate(-1440px,-3557px) !important;
    } 
}

@media screen and  (min-width:2000px) {
    .pushUpImg {
        transform: scale(0.5) translate(-1274px, -4057px) !important;
    } 
}
@media screen and  (min-width:2540px) {
    .pushUpImg {
        transform: scale(0.4) translate(-1974px, -5586px) !important;
    } 
}

