.descSection {
    min-height: 100vh;
    min-width: 90vw;
    overflow: hidden;
    background: #db0130;
    color: white;
    clip-path: polygon(101% 29%, 0 0, 0 71%, 100% 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
  
    /* Add this line 👇 */

  }
  
.aboveLine{
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
}


.headerText {
    /* color: red; */
    font-size: 19.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}


.gallery {
    max-width: 90vw;
    position: relative;
    /* width: 70%; */
    height: 100vh;
}

.image {
    /* position: absolute; */
    /* width: 200px; */
    height: auto;
    /* border-radius: 8px; */
}

.img1 { top: 16%; left: 20%;  z-index: 21;}
.img2 { top: 90%; left: 20%; z-index: 2;}
.img3 { bottom: -33%; right: 27%; }
.img4 { bottom: 5%; right: 35%; z-index: 1;}
.img5 { bottom: 0.5%; left: 5%; }


.title {
    font-size: 25vw;
    font-weight: bold;
    text-align: right;
    /* position: absolute; */
    /* top: 55%; */
    /* left: 53%; */
    /* transform: translate(-50%, -50%); */
    white-space: nowrap;
    font-family: 'Bebas Neue', sans-serif;
    /* z-index: 20; */
}
.descText {
    font-size: 2.2rem;
    /* font-weight: 400; */
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding: 20rem 22rem;
}