.whatYouGetSection {
    min-height: 100vh;
    min-width: 90vw;
    overflow: hidden;
    background: #db0130;
    color: white;
    clip-path: polygon(101% 29%, 0 0, 0 71%, 100% 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
  
    /* Add this line 👇 */

  }
  
.aboveLine{
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
}


.headerText {
    /* color: red; */
    font-size: 19.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}

.descText {
    font-size: 2.2rem;
    /* font-weight: 400; */
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding: 20rem 22rem;
}

.imageContainer {
padding-top: 146px;
padding-left: 90px;;
}

@media screen and (min-width:800px) and (max-width:1023px) {

    .leftSection{
        max-width: 44%;
    padding-left: 160px;
    }  
      .leftSection h3{
        font-size: 1.6rem;
    } 
      .leftSection p{
        font-size: 0.7rem;
    }
    .whatYouGetSection {
        min-height: 100vh;
        min-width: 80vw;
      }
    .imageContainer {
        /* padding-top: 10rem; */
        padding-left: 59px;
        padding-right: 127px;
        padding-top: 30px;
        } 
    .imageContainer img {
              margin-left: 0;
        }


        @media screen and (min-width:830px) and (max-width:865px) {

            .leftSection{
                max-width: 44%;
            padding-left: 160px;
            }  
              .leftSection h3{
                font-size: 2rem;
            } 
              .leftSection p{
                font-size: 0.8rem;
            }
            .whatYouGetSection {
                min-height: 100vh;
                min-width: 80vw;
              }
            .imageContainer {
                /* padding-top: 10rem; */
                padding-left: 59px;
                padding-right: 127px;
                padding-top: 106px;
                } 
            .imageContainer img {
                      margin-left: 0;
                }
        }
        @media screen and (min-width:865px) and (max-width:928px) {
        .imageContainer {

            padding-top: 156px;
            } 

        }
        @media screen and (min-width:928px) and (max-width:980px) {
        .whatYouGetSection {

            min-height: 130vh;
            } 

        }
        @media screen and (min-width:980px) and (max-width:1023px) {
            .leftSection{

            padding-left: 170px;
            } 
        .whatYouGetSection {

            min-height: 140vh;
            } 

        }
}
@media screen and (min-width:1023px) and (max-width:1424px) {

    .leftSection{
        max-width: 44%;
    padding-left: 160px;
    }  
      .leftSection h3{
        font-size: 2rem;
    } 
      .leftSection p{
        font-size: 0.8rem;
    }
    .whatYouGetSection {
        min-height: 100vh;
        min-width: 80vw;
      }
    .imageContainer {
        /* padding-top: 10rem; */
        padding-left: 79px;
        padding-right: 137px;
        padding-top: 100px;
        } 
    .imageContainer img {
              margin-left: 6px;
        }

        @media screen and (min-width:1023px) and (max-width:1034px) {
            .leftSection{
                max-width: 44%;
            padding-left: 160px;
            }  
              .leftSection h3{
                font-size: 2rem;
            } 
              .leftSection p{
                font-size: 0.8rem;
            }
            .whatYouGetSection {
                min-height: 100vh;
                min-width: 80vw;
              }
            .imageContainer {
                /* padding-top: 10rem; */
                padding-left: 79px;
                padding-right: 137px;
                padding-top: 90px;
                } 
            .imageContainer img {
                      margin-left: 6px;
                }
        }
        @media screen and (min-width:1034px) and (max-width:1045px) {
            .leftSection{
            padding-left: 170px;
            } 
            .leftSection h3{
                font-size: 2.3rem;
            } 
              .leftSection p{
                font-size: 0.9rem;
            }
            .imageContainer {
                /* padding-top: 10rem; */
                padding-left: 79px;
                padding-right: 137px;
                padding-top: 140px;
                } 
            .imageContainer img {
                      margin-left: 10px;
                }
        }
        @media screen and (min-width:1045px) and (max-width:1060px) {
            .leftSection{
            padding-left: 180px;
            } 
            .leftSection h3{
                font-size: 2.3rem;
            } 
              .leftSection p{
                font-size: 0.9rem;
            }
            .imageContainer {
                /* padding-top: 10rem; */
                padding-left: 79px;
                padding-right: 137px;
                padding-top: 170px;
                } 
            .imageContainer img {
                      margin-left: 10px;
                }
        }
        @media screen and (min-width:1060px) and (max-width:1073px) {
            .leftSection{
            padding-left: 180px;
            } 
            .leftSection h3{
                font-size: 2.4rem;
            } 
              .leftSection p{
                font-size: 1rem;
            }
            .imageContainer {
                padding-top: 235px;
                } 
            .imageContainer img {
                      margin-left: 10px;
                }
        }
        @media screen and (min-width:1073px) and (max-width:1083px) {
            .leftSection{
            padding-left: 180px;
            } 
            .leftSection h3{
                font-size: 2.4rem;
            } 
              .leftSection p{
                font-size: 1rem;
            }
            .imageContainer {
                padding-top: 178px;
                } 
            .imageContainer img {
                      margin-left: 10px;
                }
        }
        @media screen and (min-width:1083px) and (max-width:1103px) {
            .leftSection{
            padding-left: 190px;
            } 
            .leftSection h3{
                font-size: 2.4rem;
            } 
              .leftSection p{
                font-size: 1rem;
            }
            .imageContainer {
                padding-top: 128px;
                } 
            .imageContainer img {
                      margin-left: 10px;
                }
                
        @media screen and (min-width:1093px) and (max-width:1103px) {
            .leftSection{
            padding-left: 180px;
            } 
            .leftSection h3{
                font-size: 2.4rem;
            } 
              .leftSection p{
                font-size: 1rem;
            }
            .imageContainer {
                padding-top: 165px;
                } 
            .imageContainer img {
                      margin-left: 10px;
                }
        }
        }
        /* @media screen and (min-width:1083px) and (max-width:1108px) {
            .leftSection{
            padding-left: 190px;
            } 
            .imageContainer {
                padding-top: 158px;
                } 
                
            } */
            @media screen and (min-width:1103px) and (max-width:1112px) {
                .leftSection{
                padding-left: 200px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 165px;
                    } 
                .imageContainer img {
                          margin-left: 10px;
                    }
            }
            @media screen and (min-width:1112px) and (max-width:1115px) {
                .leftSection{
                padding-left: 200px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 165px;
                    } 
                .imageContainer img {
                          margin-left: 10px;
                    }
            }
            @media screen and (min-width:1115px) and (max-width:1132px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 220px;
                    } 
                .imageContainer img {
                          margin-left: 10px;
                    }
            }   
            @media screen and (min-width:1132px) and (max-width:1137px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 175px;
                    } 
                .imageContainer img {
                          margin-left: 10px;
                    }
            }
            @media screen and (min-width:1137px) and (max-width:1144px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 180px;
                    } 
                .imageContainer img {
                          margin-left: 10px;
                    }
            }
            @media screen and (min-width:1144px) and (max-width:1162px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 187px;
                    } 
                .imageContainer img {
                          margin-left: 10px;
                    }
            }
            @media screen and (min-width:1152px) and (max-width:1162px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 227px;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1162px) and (max-width:1172px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 175px;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1172px) and (max-width:1188px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 175px;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1188px) and (max-width:1200px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 15.125rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1200px) and (max-width:1210px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 10.8rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1210px) and (max-width:1215px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 13rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1215px) and (max-width:1220px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 14rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1220px) and (max-width:1225px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 15rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1225px) and (max-width:1235px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 5.4rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1235px) and (max-width:1240px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 6.4rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1240px) and (max-width:1250px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 7.4rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1250px) and (max-width:1260px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 9.5rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1260px) and (max-width:1264px) {
                .whatYouGetSection {
                    min-height: 110vh;
                  }
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 8.5rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1264px) and (max-width:1281px) {
                .whatYouGetSection {
                    min-height: 110vh;
                  }
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 5rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1281px) and (max-width:1386px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 9rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1286px) and (max-width:1292px) {
                .leftSection{
                padding-left: 200px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 12.5rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1292px) and (max-width:1300px) {
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.4rem;
                } 
                  .leftSection p{
                    font-size: 1rem;
                }
                .imageContainer {
                    padding-top: 14.5rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1300px) and (max-width:1330px) {
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.2rem;
                }
                .imageContainer {
                    padding-top: 16rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1330px) and (max-width:1344px) {
                .whatYouGetSection{
                    min-height: 110vh;
                }
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.2rem;
                }
                .imageContainer {
                    padding-top: 16rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1344px) and (max-width:1355px) {
                .whatYouGetSection{
                    min-height: 110vh;
                }
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.2rem;
                }
                .imageContainer {
                    padding-top: 18rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1355px) and (max-width:1368px) {
                .whatYouGetSection{
                    min-height: 120vh;
                }
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.2rem;
                }
                .imageContainer {
                    padding-top: 17rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1368px) and (max-width:1380px) {
                .whatYouGetSection{
                    min-height: 120vh;
                }
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.2rem;
                }
                .imageContainer {
                    padding-top: 19rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }
            @media screen and (min-width:1380px) and (max-width:1400px) {
                .whatYouGetSection{
                    min-height: 120vh;
                }
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.3rem;
                }
                .imageContainer {
                    padding-top: 14.5rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }

            @media screen and (min-width:1400px) and (max-width:1425px) {
                .whatYouGetSection{
                    /* min-height: 0vh; */
                }
                .leftSection{
                padding-left: 220px;
                padding-top: 50px;
                } 
                .leftSection h3{
                    font-size: 2.5rem;
                } 
                  .leftSection p{
                    font-size: 1.3rem;
                }
                .imageContainer {
                    padding-top:11rem;
                    } 
                .imageContainer img {
                          margin-left: 15px;
                    }
            }

}





@media screen and (min-width:1425px) and (max-width:1436px) {
    .whatYouGetSection{
        min-height: 100vh;
    }
        .leftSection{
            padding-left: 50px;
            padding-top:60px;
            /* padding-bottom: 90px; */
            } 
            .leftSection h3{
                font-size: 2.5rem;
            } 
              .leftSection p{
                font-size: 1.2rem;
            }
            .imageContainer {
                padding-top:12rem;
                } 
            .imageContainer img {
                      margin-left: 15px;
                }
}
@media screen and (min-width:1436px) and (max-width:1439px) {
    .imageContainer {
        padding-top: 156px;
        padding-left: 24px;
        }
        .leftSection{
            padding-left: 60px;
            padding-top: 40px;
            } 
            .leftSection h3{
                font-size: 2.5rem;
            } 
              .leftSection p{
                font-size: 1.2rem;
            }
            .imageContainer {
                padding-top:15.5rem;
                } 
            .imageContainer img {
                      margin-left: 95px;
                }
}
@media screen and (min-width:1439px) and (max-width:1440px) {
    .imageContainer {
        padding-top: 156px;
        padding-left: 24px;
        }
        .leftSection{
            padding-left: 60px;
            padding-top: 40px;
            } 
            .leftSection h3{
                font-size: 2.5rem;
            } 
              .leftSection p{
                font-size: 1.2rem;
            }
            .imageContainer {
                padding-top:15.5rem;
                } 
            .imageContainer img {
                      margin-left: 95px;
                }
}
@media screen and (min-width:1440px) and (max-width:1449px) {
    /* .imageContainer {
        padding-top: 156px;
        padding-left: 24px;
        } */
        .leftSection{
            /* padding-left: 60px; */
            padding-top: 40px;
            } 
            .leftSection h3{
                font-size: 2.5rem;
            } 
              .leftSection p{
                font-size: 1.2rem;
            }
            .imageContainer {
                padding-top:11.5rem;
                } 
            .imageContainer img {
                      margin-left: 95px;
                }
}
@media screen and (min-width:1449px) and (max-width:1520px) {
    /* .imageContainer {
        padding-top: 156px;
        padding-left: 24px;
        } */
        .leftSection{
            /* padding-left: 60px; */
            padding-top: 40px;
            } 
            .leftSection h3{
                font-size: 2.5rem;
            } 
              .leftSection p{
                font-size: 1.2rem;
            }
            .imageContainer {
                padding-top:11.5rem;
                } 
            .imageContainer img {
                      margin-left: 95px;
                }
}
/* @media screen and (min-width:1400px) and (max-width:1500px) {
    .imageContainer {
        padding-top: 182px;
        padding-left: 15px;;
        }

        .whatYouGetSection {
            min-height: 111vh;
        }
} */
@media screen and (min-width:1520px) and (max-width:1535px) {
    .imageContainer {
        min-height: min-content;
        padding-top: 180px !important;
        padding-left: 50px;;
        }
        
}
@media screen and (min-width:1535px) and (max-width:1600px) {
    .imageContainer {
        /* min-height: min-content; */
        /* padding-top: 80px !important; */
        padding-left: 50px;
        }
        
}
@media screen and (min-width:1600px) and (max-width:2000px) {
    .whatYouGetSection {
     min-height: 116vh;
        }

        .imageContainer {
            padding-top: 0;
            padding-left: 110px;;
            }
}
@media screen and (min-width: 1900px) and (max-width:1949px) {
    .imageContainer {
        padding-top: 164px;
        padding-left: 275px;;
        }
}
@media screen and (min-width:2540px) {
    .imageContainer {
        padding-top: 197px !important;
        padding-left: 684px !important;
        }
}
@media screen and (min-width:2530px) {
    .imageContainer {
        padding-top: 348px !important;
        padding-left: 354px !important;
        }
}


/* @media screen and (min-width:2560)  {
    .imageContainer {
        padding-top: 166px;
        padding-left: 15px;;
        margin-bottom: 75px;
        }
} */