@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.callButton {
    /* background-color: rgba(198, 100, 121, 1); */
    background: rgba(177, 2, 41, 0.5);
    font-size: 1.2rem;
    color: white;
    padding: 0.5vw 1vw;
    /* border-radius: 5px; */
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.loginBtn{
    font-family: 'Anton', sans-serif;
}
@media screen and (min-width: 768px) {
    .loginBtn {
        font-family: 'Montserrat', sans-serif !important;
    }
}
